table {
    border-collapse: collapse;
    width: 99vw;
}

th, td {
    border: 1px solid black;
    padding: 2rem;
    width: 33vw;
    font-size: x-large;
}

th {
    background-color: yellow;
}

.pris {
    text-align: center;
}

h1 {
    text-align: center;
}